<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>CreateTravel</servlet-name>
		<servlet-class>net.tncy.servlet.CreateTravel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateTravel</servlet-name>
		<url-pattern>/CreateTravel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Resultat</servlet-name>
		<servlet-class>net.tncy.servlet.Resultat</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resultat</servlet-name>
		<url-pattern>/Resultat</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DisplayTravelStep1</servlet-name>
		<servlet-class>net.tncy.servlet.DisplayTravelStep1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayTravelStep1</servlet-name>
		<url-pattern>/DisplayTravelStep1</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
